# Puerto en el que se iniciará el servicio. Por defecto 9090
PORT=""

# Credenciales de la BBDD
DB_HOST=""
DB_USER=""
DB_PASSWORD=""

# Nombre de la bd en desarrollo, en producción y test
DB_DEV=""
DB_PROD=""
DB_TEST=""

# Lenguaje de la BD (por defecto "mysql"), puerto de la BD y el máximo de conexiones admitidas por el pool de conexiones
DB_DIALECT=""
DB_PORT=
DB_MAXCONNECTIONS=

# Clave para cifrar los tokens
SECRETORPRIVATEKEY=

# Contraseña de aplicacion del correo electronico para enviar correos y correo electronico
API_KEY=""
MAIL=""